<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Giftionary <%= "\"Search #{@query}\"" if @query %></title>

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/tachyons.min.css">
    <style>
      img {
        display: block;
      }
    </style>
  </head>
  <body class="">
    <div class="mvm mw8 center">
      <form class="pam mbs" action="/" enctype="multipart/form-data" method="post" novalidate="">
        <input class="w-80 pas h3 f3 di" type="search" name="q" value="<%= @query %>" placeholder="Words" autofocus="">
        <button class="w-10 di h3 f3 btn btn--blue" type="submit">Go</button>
      </form>
    </div>

    <div id="container" class="w-100">
      <% @urls.each do |url| %>
        <img src="<%= url %>" />
      <% end %>
    </div>

    <script src="/js/jquery.js?1422488917" type="text/javascript"></script>
    <script src="/js/packery.pkgd.min.js?1422488917" type="text/javascript"></script>
    <script src="/js/imagesloaded.pkgd-f8f1a4ae.js" type="text/javascript"></script>
    <% if @query %>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var c = document.querySelector("#container");
          p = new Packery(c, {
            gutter: 10,
            transitionDuration: 0,
          });
          $.get('/s/<%= @query %>.json', function(data) {
            var images = []
            for (i in data) {
              images[i] = new Image();
              images[i].src = data[i];
              imagesLoaded(images[i], function(e) {
                $(c).append(e.elements);
                p.addItems(e.elements);
                p.layout();
              });
            }
          });
        });
      </script>
    <% end %>
  </body>
</html>
