<nav class="dt w-100 border-box pa3 ph5-ns">
  <a class="dtc v-mid mid-gray link dim w-25" href="/" title="Home">Giftionary.City</a>
  <div class="dtc v-mid w-75 tr">
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/about" title="About">About</a>
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/search" title="Search">Search</a>
    <a class="link dim dark-gray f6 f5-ns dib" href="/logout" title="Logout">Logout</a>
  </div>
</nav>
