<nav class="dt w-100 border-box pa3 ph4-ns">
  <a class="dtc v-mid mid-gray link dim w-25" href="/" title="Home">Giftionary.City</a>
  <div class="dtc v-mid w-75 tr">
    <% if session[:username] %>
      <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/<%= session[:username] %>" title="upload">Upload</a>
      <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/search/" title="Search">Search</a>
    <% end %>

    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/about" title="About">About</a>

    <% if session[:username] %>
      <a class="link dim dark-gray f6 f5-ns dib" href="/logout" title="Logout">Logout</a>
    <% else %>
      <a class="link dim dark-gray f6 f5-ns dib" href="/auth/twitter" title="">Login</a>
    <% end %>
  </div>
</nav>
